src/main/resources/MessengerPMSService_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s4="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s3="http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/">
  <wsdl:types>
    <s:schema targetNamespace="http://tempuri.org" elementFormDefault="qualified">
      <s:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"/><s:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous"/><s:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/><s:element name="HelloWorldTest">
        <s:complexType>
          <s:sequence>
            <s:element name="s1" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="i1" type="s:int" maxOccurs="1" minOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="HelloWorldTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="HelloWorldTestResult" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="AuthHeader" type="tns:AuthHeader"/><s:complexType name="AuthHeader">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" ref="s1:Action"/>
          <s:element maxOccurs="1" minOccurs="0" ref="s1:From"/>
          <s:element maxOccurs="1" minOccurs="1" ref="s1:MessageID"/>
          <s:element maxOccurs="1" minOccurs="0" ref="s3:ReplyTo"/>
          <s:element maxOccurs="1" minOccurs="0" ref="s1:To"/>
          <s:element name="Security" type="tns:SecurityHeader" maxOccurs="1" minOccurs="0"/>
        </s:sequence><s:anyAttribute/>
      </s:complexType><s:complexType name="SecurityHeader">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" ref="s4:Timestamp"/>
          <s:element maxOccurs="1" minOccurs="0" ref="s4:UsernameToken"/>
        </s:sequence>
      </s:complexType><s:element name="PublishResponseComplexTypes">
        <s:complexType>
          <s:sequence>
            <s:element name="DummyResponse" type="tns:CMessengerResponse" maxOccurs="1" minOccurs="0"/>
            <s:element name="DummyFault" type="tns:Fault" maxOccurs="1" minOccurs="0"/>
            <s:element name="aReason" type="tns:eMainFaultReasons" maxOccurs="1" minOccurs="1"/>
            <s:element name="aDetailReason" type="tns:eDetailEncoderFaultReasons" maxOccurs="1" minOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:complexType name="CMessengerResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CMessengerBaseResponse">
            <s:sequence>
              <s:element name="retAccessKey" type="s:string" maxOccurs="1" minOccurs="0"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType><s:complexType name="CMessengerBaseResponse">
        <s:sequence>
          <s:element name="bSuccess" type="s:boolean" maxOccurs="1" minOccurs="1"/>
          <s:element name="ResponseCode" type="s:int" maxOccurs="1" minOccurs="1"/>
          <s:element name="ResponseMessage" type="s:string" maxOccurs="1" minOccurs="0"/>
        </s:sequence>
      </s:complexType><s:complexType name="Fault">
        <s:sequence>
          <s:element name="faultcode" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="faultstring" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="detailInfo" type="s:string" maxOccurs="1" minOccurs="0"/>
        </s:sequence>
      </s:complexType><s:simpleType name="eMainFaultReasons">
        <s:restriction base="s:string">
          <s:enumeration value="EncoderMsg"/>
          <s:enumeration value="UserCredentialsNotProvided"/>
          <s:enumeration value="MessengerPMSServiceNoResponse"/>
          <s:enumeration value="InvalidWSParameter"/>
          <s:enumeration value="ExceptionRequestFailed"/>
          <s:enumeration value="NoCallerID"/>
          <s:enumeration value="NoRequestMsg"/>
          <s:enumeration value="BusyProcessingPreviousRequest"/>
          <s:enumeration value="CallerRequestWasLost"/>
          <s:enumeration value="CallerRequestNotTheSame"/>
          <s:enumeration value="RoomNumberNotFound"/>
          <s:enumeration value="MaxSharedReached"/>
          <s:enumeration value="FailedSetReservation"/>
          <s:enumeration value="UnableToRegisterSessionForPMSTerminalID"/>
          <s:enumeration value="UnableToSetPMSOperationNoInDB"/>
          <s:enumeration value="ReservationNoInvalid"/>
          <s:enumeration value="ReservationNoSuspended"/>
          <s:enumeration value="UnassignDuplicateToNoneExistingReservation"/>
          <s:enumeration value="MaxUnassignReached"/>
          <s:enumeration value="SharedWithMustHaveExistingStay"/>
          <s:enumeration value="GuestLevelNotAvailableInAllRooms"/>
          <s:enumeration value="ReservationNotFound"/>
          <s:enumeration value="RoomMoveMustHaveSameStay"/>
          <s:enumeration value="NoActionRequired"/>
          <s:enumeration value="ReservationHasExpired"/>
          <s:enumeration value="UnableToChangeReservationInfo"/>
          <s:enumeration value="UnableToChangeReservationKeyInfo"/>
          <s:enumeration value="RequestTimeoutNoResponse"/>
          <s:enumeration value="RoomNameNotSet"/>
          <s:enumeration value="UnableToCompleteReservation"/>
          <s:enumeration value="AuthHeaderNotRecognized"/>
          <s:enumeration value="NoSharewithForSuites"/>
          <s:enumeration value="ReservationCheckedOut"/>
          <s:enumeration value="RoomMustHaveSameStay"/>
          <s:enumeration value="CannotCreateKeyForThisRoomType"/>
          <s:enumeration value="KeyInstanceNotFound"/>
          <s:enumeration value="InvalidVIPRequestInfo"/>
          <s:enumeration value="UnableToSendMessageToLock"/>
          <s:enumeration value="RoomOFFLine"/>
          <s:enumeration value="IRSConnectionLost"/>
          <s:enumeration value="KABALodginInterfaceExceptionRaised"/>
          <s:enumeration value="KABALodgingInterfaceOperationNotSupported"/>
          <s:enumeration value="SecuredKeyProductLineNotSupported"/>
          <s:enumeration value="SecuredKeyDeviceUIDEmpty"/>
          <s:enumeration value="SecuredKeyDeviceUIDLengthInvalid"/>
          <s:enumeration value="SecuredKeyDeviceUIDZeroOnly"/>
          <s:enumeration value="InvalidHexValue"/>
          <s:enumeration value="EmptyPhoneNumber"/>
          <s:enumeration value="PhoneNumberTooSmall"/>
          <s:enumeration value="UnableToDeliverToPhone"/>
          <s:enumeration value="ExceptionFault"/>
          <s:enumeration value="UndefinedFault"/>
          <s:enumeration value="NoFault"/>
        </s:restriction>
      </s:simpleType><s:simpleType name="eDetailEncoderFaultReasons">
        <s:restriction base="s:string">
          <s:enumeration value="Success"/>
          <s:enumeration value="NotApplicable"/>
          <s:enumeration value="EncoderResponse"/>
          <s:enumeration value="GeneralSystemError"/>
          <s:enumeration value="Undefined"/>
          <s:enumeration value="ConfirmKeyCancel"/>
          <s:enumeration value="ConfirmKeyDuplicate"/>
          <s:enumeration value="ConfirmExpireBeforeCheckout"/>
          <s:enumeration value="MaxDuplicatesMadeReached"/>
          <s:enumeration value="ConfirmCheckBackIn"/>
          <s:enumeration value="EncoderNotOnlineOrNotExist"/>
          <s:enumeration value="EncoderNotResponding"/>
          <s:enumeration value="InvalidEncoderNumber"/>
          <s:enumeration value="EncoderMemoryError"/>
          <s:enumeration value="EncoderBusy"/>
          <s:enumeration value="TransactionTypeNotAvailable"/>
          <s:enumeration value="TransactionNotSupportKeyLevel"/>
          <s:enumeration value="InternalSoftwareErrorCompatibility"/>
          <s:enumeration value="TransactionTypeInvalid"/>
          <s:enumeration value="InsufficientPasswordLength"/>
          <s:enumeration value="PasswordInvalid"/>
          <s:enumeration value="TransactionUnauthorized"/>
          <s:enumeration value="InternalSoftwareErrorDataFiles"/>
          <s:enumeration value="TransactionKeyLevelNotAavailable"/>
          <s:enumeration value="InternalSoftwareErrorKeyFiles"/>
          <s:enumeration value="InternalSoftwareBusyArchiving"/>
          <s:enumeration value="TransactionKeyNumberNotAavailable"/>
          <s:enumeration value="TransactionKeyNumberIncorrectFormat"/>
          <s:enumeration value="TransactionUnauthorizedKey"/>
          <s:enumeration value="InvalidTransactionRequest"/>
          <s:enumeration value="InvalidPMSTerminalNumber"/>
          <s:enumeration value="TransactionKeyNumberOutOfRange"/>
          <s:enumeration value="TransactionKeyNumberNotNumeric"/>
          <s:enumeration value="TransactionKeyNumberNULL"/>
          <s:enumeration value="InvalidPMSRequestDate"/>
          <s:enumeration value="InvalidPMSRequestTime"/>
          <s:enumeration value="TransactionEncoderNumberOutOfRange"/>
          <s:enumeration value="TransactionKeyNumberOfKeysZERO"/>
          <s:enumeration value="InvalidPMSResponse"/>
          <s:enumeration value="UnableToProcessRequest"/>
          <s:enumeration value="UnableToProcessLostRequest"/>
          <s:enumeration value="TimeoutWaitingResponse"/>
          <s:enumeration value="TimeoutGeneralComError"/>
          <s:enumeration value="InvalidEncoderReqTerminated"/>
          <s:enumeration value="ErrorNotOverridenReqTerminated"/>
          <s:enumeration value="IncompatiblePMSInterface"/>
          <s:enumeration value="TransactionKeyNotValid"/>
          <s:enumeration value="TransactionKeyAndLevelNotValid"/>
          <s:enumeration value="TransactionRequestWasLost"/>
          <s:enumeration value="InvalidTransactionTypeReceived"/>
          <s:enumeration value="InvalidGRCCode"/>
          <s:enumeration value="InvalidPassOption"/>
          <s:enumeration value="InvalidPassNumber"/>
          <s:enumeration value="InvalidNumberOfSeconds"/>
          <s:enumeration value="InvalidDestinationTerminalNumber"/>
          <s:enumeration value="InvalidNumericField"/>
          <s:enumeration value="SystemErrorFailed"/>
          <s:enumeration value="InternalMemoryTimeoutError"/>
          <s:enumeration value="InternalSyncTimeoutError"/>
          <s:enumeration value="TransactionLockKeyInaccessible"/>
          <s:enumeration value="TransactionKeyInaccessible"/>
          <s:enumeration value="RequestWasAborted"/>
          <s:enumeration value="TimeoutWaitingKey"/>
          <s:enumeration value="KeyJammed"/>
          <s:enumeration value="KeyNotFaceUp"/>
          <s:enumeration value="KeyMaybeDamaged"/>
          <s:enumeration value="EncoderNoResponse"/>
          <s:enumeration value="KeyNotPreRegistered"/>
          <s:enumeration value="CheckoutDateLessThanSystemDate"/>
          <s:enumeration value="KeyExpirationInFuture"/>
          <s:enumeration value="KeyExpirationInPast"/>
          <s:enumeration value="MustProvidePassLevelNo"/>
          <s:enumeration value="PassNumberIsInvalid"/>
          <s:enumeration value="UnableToCreateKeyNewSequenceRequired"/>
          <s:enumeration value="UnableToProcessVerifyGuestKey"/>
          <s:enumeration value="InternalPollingError"/>
          <s:enumeration value="InternalOnlineError"/>
          <s:enumeration value="InternalKeyDataFilesCorrupted"/>
          <s:enumeration value="InternalSystemResponseError"/>
          <s:enumeration value="InternalSystemStartupBusy"/>
          <s:enumeration value="InternalSystemBusyClearing"/>
          <s:enumeration value="InternalSystemExecError"/>
          <s:enumeration value="InternalSystemErrorUnableToProcessRequests"/>
          <s:enumeration value="InternalSystemErrorDriveAccessProblem"/>
          <s:enumeration value="InternalSystemErrorTimeoutToProcessRequests"/>
          <s:enumeration value="InternalSystemErrorFileDeletion"/>
          <s:enumeration value="InternalSystemErrorFileCorrupted"/>
          <s:enumeration value="InternalSystemErrorMemoryProblem"/>
          <s:enumeration value="InternalSystemErrorClockProblem"/>
          <s:enumeration value="InternalSystemErrorOverflowProblem"/>
          <s:enumeration value="InternalSystemFilePointerProblem"/>
          <s:enumeration value="InternalSystemOutOfDiskSpaceProblem"/>
          <s:enumeration value="InternalSystemFileWriteProblem"/>
          <s:enumeration value="InternalSystemFileNotFoundProblem"/>
          <s:enumeration value="InternalSystemFileNotReadableProblem"/>
          <s:enumeration value="VIP_None"/>
          <s:enumeration value="VIP_Success"/>
          <s:enumeration value="VIP_CREATE_LOGFILE_FAILED"/>
          <s:enumeration value="VIP_INVALID_COMMAND"/>
          <s:enumeration value="VIP_INITIALIZATION_FAILED"/>
          <s:enumeration value="VIP_REQUEST_STATUS_FAILED"/>
          <s:enumeration value="VIP_WRITE_ERROR"/>
          <s:enumeration value="VIP_WRITE_TIMEOUT"/>
          <s:enumeration value="VIP_READ_ERROR"/>
          <s:enumeration value="VIP_CARD_AUTH_FAILED"/>
          <s:enumeration value="VIP_READ_TIMEOUT"/>
          <s:enumeration value="VIP_UNKNOWN_CARD_FORMAT"/>
          <s:enumeration value="VIP_INVALID_SECTOR"/>
          <s:enumeration value="VIP_CARD_NOT_FORMATED"/>
          <s:enumeration value="VIP_ENCODER_FAILURE"/>
          <s:enumeration value="VIP_ENCODER_CONNECT_FAILED"/>
          <s:enumeration value="VIP_ENCODER_DISCONNECT_FAILED"/>
          <s:enumeration value="VIP_NOT_SAFLOK_PUBLISHER"/>
          <s:enumeration value="VIP_NO_CARD_PRESENT"/>
          <s:enumeration value="VIP_TOO_MUCH_CARDS"/>
          <s:enumeration value="VIP_NO_FREE_SECTORS"/>
          <s:enumeration value="VIP_NO_TAGS_FOUND"/>
          <s:enumeration value="VIP_RequestConfirmationToOverwriteKey"/>
          <s:enumeration value="VIP_FatalErrorWithEViewer"/>
          <s:enumeration value="VIP_DataNotFound"/>
          <s:enumeration value="VIP_EncoderBusy"/>
          <s:enumeration value="VIP_Failed"/>
          <s:enumeration value="IncorrectVIPNumberFormat"/>
          <s:enumeration value="VIPNumberFailedToBuild"/>
          <s:enumeration value="VIPExceptionRaised"/>
          <s:enumeration value="VIP_EROR_KeyConfigData"/>
          <s:enumeration value="OperationNotSupported"/>
          <s:enumeration value="KABALodgingInterfaceTranslationError"/>
          <s:enumeration value="KABALodgingInterfaceWSURLError"/>
          <s:enumeration value="KABALodgingInterfaceCredentialError"/>
          <s:enumeration value="KABALodgingInterfaceExceptionRaised"/>
          <s:enumeration value="ATLASExceptionRaised"/>
          <s:enumeration value="ATLASIllegalCmdRcv"/>
          <s:enumeration value="ATLASIllegalField"/>
          <s:enumeration value="ATLASEncoderError"/>
          <s:enumeration value="ATLASReaderError"/>
          <s:enumeration value="ATLASInsufficientData"/>
          <s:enumeration value="ATLASTooMuchData"/>
          <s:enumeration value="ATLASInvalidRoomNo"/>
          <s:enumeration value="ATLASInvalidAuthorization"/>
          <s:enumeration value="ATLASCardNotInserted"/>
          <s:enumeration value="ATLASCheckInOutOfRange"/>
          <s:enumeration value="ATLASCheckInLargerCheckOut"/>
          <s:enumeration value="ATLASCheckInSmallerCreation"/>
          <s:enumeration value="ATLASNoInnerDoorsSelected"/>
          <s:enumeration value="ATLASInvalidExpiry"/>
          <s:enumeration value="ATLASNotGuestCard"/>
          <s:enumeration value="ATLASFailed"/>
          <s:enumeration value="ATLASHigherAuthorizarionNeeded"/>
          <s:enumeration value="ATLASRoomNoOutOfRange"/>
          <s:enumeration value="ATLASDisabledFunction"/>
          <s:enumeration value="ATLASInvalidDeviceAddress"/>
          <s:enumeration value="ATLASDeviceBusy"/>
          <s:enumeration value="ATLASDeviceInactive"/>
          <s:enumeration value="ATLASCommFailure"/>
          <s:enumeration value="ATLASDecodingError"/>
          <s:enumeration value="ATLASCardNotSupported"/>
          <s:enumeration value="ATLASInvalidCreation"/>
          <s:enumeration value="ATLASInvalidCheckIn"/>
          <s:enumeration value="ATLASInvalidCoercivity"/>
          <s:enumeration value="ATLASUnsupportedCoercivity"/>
          <s:enumeration value="KDSFail"/>
        </s:restriction>
      </s:simpleType><s:element name="PublishResponseComplexTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="PublishResponseComplexTypesResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="PublishFaultList">
        <s:complexType/>
      </s:element><s:element name="PublishFaultListResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="PublishFaultListResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CreateNewBooking">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="EncoderID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="CheckIn" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element name="CheckOut" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element maxOccurs="1" minOccurs="0" ref="s4:GuestName"/>
            <s:element name="MainRoomNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="bGrantAccessPredefinedSuiteDoors" type="s:boolean" maxOccurs="1" minOccurs="1"/>
            <s:element name="VariableRoomList" type="tns:ArrayOfString" maxOccurs="1" minOccurs="0"/>
            <s:element name="CommonAreaList" type="tns:ArrayOfCCommonAreas" maxOccurs="1" minOccurs="0"/>
            <s:element name="TrackIIFolioNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="TrackIGuestNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyCount" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="KeySize" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="UID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element name="string" type="s:string" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
        </s:sequence>
      </s:complexType><s:complexType name="ArrayOfCCommonAreas">
        <s:sequence>
          <s:element name="CCommonAreas" type="tns:CCommonAreas" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
        </s:sequence>
      </s:complexType><s:complexType name="CCommonAreas">
        <s:sequence>
          <s:element name="PassLevelNo" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
          <s:element name="eMode" type="tns:eCommonAreaSelMode" maxOccurs="1" minOccurs="1"/>
        </s:sequence>
      </s:complexType><s:simpleType name="eCommonAreaSelMode">
        <s:restriction base="s:string">
          <s:enumeration value="DefaultConfiguredAccess"/>
          <s:enumeration value="GrantAccess"/>
          <s:enumeration value="DenyAccess"/>
        </s:restriction>
      </s:simpleType><s:element name="CreateNewBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="CreateNewBookingResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="AddSharedGuest">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="EncoderID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="CheckIn" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element name="CheckOut" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element maxOccurs="1" minOccurs="0" ref="s4:GuestName"/>
            <s:element name="MainRoomNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="VariableRoomList" type="tns:ArrayOfString" maxOccurs="1" minOccurs="0"/>
            <s:element name="CommonAreaList" type="tns:ArrayOfCCommonAreas" maxOccurs="1" minOccurs="0"/>
            <s:element name="TrackIIFolioNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="TrackIGuestNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyCount" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="KeySize" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="UID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="AddSharedGuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="AddSharedGuestResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="MakeDuplicateKey">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="1" nillable="true"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="EncoderID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyCount" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="KeySize" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="UID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="GuestName" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="MakeDuplicateKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="MakeDuplicateKeyResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="ChangeKeyAccess">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="EncoderID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="CheckIn" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element name="CheckOut" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element maxOccurs="1" minOccurs="0" ref="s4:GuestName"/>
            <s:element name="VariableRoomList" type="tns:ArrayOfString" maxOccurs="1" minOccurs="0"/>
            <s:element name="CommonAreaList" type="tns:ArrayOfCCommonAreas" maxOccurs="1" minOccurs="0"/>
            <s:element name="TrackIIFolioNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="TrackIGuestNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyCount" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="KeySize" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="UID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="ChangeKeyAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ChangeKeyAccessResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="ExtendCheckOut">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="CheckOut" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="ExtendCheckOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ExtendCheckOutResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CheckOutGuest">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CheckOutGuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="CheckOutGuestResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="MakeUnassignedBooking">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="EncoderID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="CheckIn" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element name="CheckOut" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element maxOccurs="1" minOccurs="0" ref="s4:GuestName"/>
            <s:element name="CommonAreaList" type="tns:ArrayOfCCommonAreas" maxOccurs="1" minOccurs="0"/>
            <s:element name="TrackIIFolioNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="TrackIGuestNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyCount" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="KeySize" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="UID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="MakeUnassignedBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="MakeUnassignedBookingResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="ChangeGuestAccess">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="MainRoomNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="RoomList" type="tns:ArrayOfString" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="ChangeGuestAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ChangeGuestAccessResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="AddGuestAccess">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="RoomList" type="tns:ArrayOfString" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="AddGuestAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="AddGuestAccessResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="DenyAccessToGuest">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="DenyAccessToGuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="DenyAccessToGuestResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="ReEstablishAccessToGuest">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="ReEstablishAccessToGuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ReEstablishAccessToGuestResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CancelGuestsAccessToRoom">
        <s:complexType>
          <s:sequence>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="MainRoomNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CancelGuestsAccessToRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="CancelGuestsAccessToRoomResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CancelGuestsMobileAccessToRoom">
        <s:complexType>
          <s:sequence>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="MainRoomNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="GuestMobileNumber" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CancelGuestsMobileAccessToRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="CancelGuestsMobileAccessToRoomResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CreateOneShotKey">
        <s:complexType>
          <s:sequence>
            <s:element name="SiteName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="EncoderID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="MainRoomNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="CheckIn" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element name="CheckOut" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element name="KeySize" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="UID" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="CreateOneShotKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="CreateOneShotKeyResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="GetDeviceSecKeysRights">
        <s:complexType>
          <s:sequence>
            <s:element name="keyReq" type="tns:CSecKeysRequest" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:complexType name="CSecKeysRequest">
        <s:sequence>
          <s:element name="ProductLine" type="tns:eKabaProductLine" maxOccurs="1" minOccurs="1"/>
          <s:element name="KeyDeviceUID" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="RFIDEncodingType" type="tns:eRFIDEncodingTypes" maxOccurs="1" minOccurs="1"/>
          <s:element name="SecKeysRightsBuffer" type="tns:ArrayOfString" maxOccurs="1" minOccurs="0"/>
        </s:sequence>
      </s:complexType><s:simpleType name="eKabaProductLine">
        <s:restriction base="s:string">
          <s:enumeration value="None"/>
          <s:enumeration value="Atlas"/>
          <s:enumeration value="Saflok"/>
          <s:enumeration value="Eplex"/>
          <s:enumeration value="Oracode"/>
          <s:enumeration value="MultiHousing"/>
          <s:enumeration value="eDATA"/>
        </s:restriction>
      </s:simpleType><s:simpleType name="eRFIDEncodingTypes">
        <s:restriction base="s:string">
          <s:enumeration value="None"/>
          <s:enumeration value="Legacy"/>
          <s:enumeration value="Type1"/>
          <s:enumeration value="Type2"/>
        </s:restriction>
      </s:simpleType><s:element name="GetDeviceSecKeysRightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetDeviceSecKeysRightsResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element><s:element name="keyReq" type="tns:CSecKeysRequest" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="UpdateKeyTransactionStatus">
        <s:complexType>
          <s:sequence>
            <s:element name="PMSTransactionID" type="s:long" maxOccurs="1" minOccurs="1"/>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="EncoderID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element maxOccurs="1" minOccurs="0" ref="s4:MainRoomNo"/>
            <s:element name="TransactionStatus" type="s:int" maxOccurs="1" minOccurs="1"/>
            <s:element name="ExternalRefNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="QualifierRef" type="s:unsignedInt" maxOccurs="1" minOccurs="1"/>
            <s:element name="ReturnedMsg" type="s:string" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="UpdateKeyTransactionStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="UpdateKeyTransactionStatusResult" maxOccurs="1" minOccurs="0">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="GetMobileTransactionHistory">
        <s:complexType>
          <s:sequence>
            <s:element name="ReservationID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="RoomNo" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="EncoderID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="From" type="s:dateTime" maxOccurs="1" minOccurs="1" nillable="true"/>
            <s:element name="To" type="s:dateTime" maxOccurs="1" minOccurs="1" nillable="true"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="GetMobileTransactionHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetMobileTransactionHistoryResult" type="tns:MobileTransactionHistory" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:complexType name="MobileTransactionHistory">
        <s:sequence>
          <s:element name="RequestStatus" maxOccurs="1" minOccurs="0">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any/>
              </s:sequence>
            </s:complexType>
          </s:element><s:element name="PMStransactionList" type="tns:ArrayOfTransactionStatusHistory" maxOccurs="1" minOccurs="0"/>
        </s:sequence>
      </s:complexType><s:complexType name="ArrayOfTransactionStatusHistory">
        <s:sequence>
          <s:element name="TransactionStatusHistory" type="tns:TransactionStatusHistory" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
        </s:sequence>
      </s:complexType><s:complexType name="TransactionStatusHistory">
        <s:sequence>
          <s:element name="ID" type="s:long" maxOccurs="1" minOccurs="1"/>
          <s:element name="PMSTransactionNo" type="s:long" maxOccurs="1" minOccurs="1"/>
          <s:element name="SystemActivityID" type="s:int" maxOccurs="1" minOccurs="1"/>
          <s:element name="SystemActivity" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="ResponseDateTime" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
          <s:element name="TransactionStatus" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="TransactionInError" type="s:boolean" maxOccurs="1" minOccurs="1"/>
          <s:element name="GuestInfo" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="Message" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="RoomNumber" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="StaInfo" type="s:string" maxOccurs="1" minOccurs="0"/>
        </s:sequence>
      </s:complexType><s:element name="SendKey2StaffMobileDevice">
        <s:complexType>
          <s:sequence>
            <s:element name="PMSTerminalID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="ValidFrom" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element name="ValidTo" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
            <s:element name="StaffID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="Name" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="MobileNumber" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyData" type="s:base64Binary" maxOccurs="1" minOccurs="0"/>
            <s:element name="SendSMS" type="s:boolean" maxOccurs="1" minOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="SendKey2StaffMobileDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SendKey2StaffMobileDeviceResult" type="tns:CMessengerGuestCreateResponse" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:complexType name="CMessengerGuestCreateResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CMessengerBaseResponse">
            <s:sequence>
              <s:element name="retPMSTransactionNo" type="s:long" maxOccurs="1" minOccurs="1"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType><s:element name="UnRegisterStaff">
        <s:complexType>
          <s:sequence>
            <s:element name="StaffID" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="MobileNumber" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyName" type="s:string" maxOccurs="1" minOccurs="0"/>
            <s:element name="KeyData" type="s:base64Binary" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element><s:element name="UnRegisterStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="UnRegisterStaffResult" type="tns:CMessengerGuestCreateResponse" maxOccurs="1" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema><s:schema targetNamespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" elementFormDefault="qualified">
      <s:import namespace="http://microsoft.com/wsdl/types/"/>
      <s:element name="Action" type="s:string"/>
      <s:element name="From" type="s:string"/>
      <s:element name="MessageID" type="s2:guid"/>
      <s:element name="To" type="s:string"/>
    </s:schema><s:schema targetNamespace="http://microsoft.com/wsdl/types/" elementFormDefault="qualified">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </s:restriction>
      </s:simpleType>
    </s:schema><s:schema targetNamespace="http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous" elementFormDefault="qualified">
      <s:element name="ReplyTo" type="s:string"/>
    </s:schema><s:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" elementFormDefault="qualified">
      <s:import namespace="http://microsoft.com/wsdl/types/"/><s:element name="Timestamp" type="s4:CTimestamp"/><s:complexType name="CTimestamp">
        <s:sequence>
          <s:element name="Id" type="s2:guid" maxOccurs="1" minOccurs="1"/>
          <s:element name="Created" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
          <s:element name="Expires" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
        </s:sequence>
      </s:complexType><s:element name="UsernameToken" type="s4:CUserNameToken"/><s:complexType name="CUserNameToken">
        <s:sequence>
          <s:element name="Id" type="s2:guid" maxOccurs="1" minOccurs="1"/>
          <s:element name="Username" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="Password" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="Nonce" type="s:string" maxOccurs="1" minOccurs="0"/>
          <s:element name="Created" type="s:dateTime" maxOccurs="1" minOccurs="1"/>
        </s:sequence>
      </s:complexType><s:element name="GuestName" type="s:string"/><s:element name="MainRoomNo" type="s:string"/>
    </s:schema>
  </wsdl:types><wsdl:message name="HelloWorldTestSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldTest"/>
  </wsdl:message><wsdl:message name="HelloWorldTestSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldTestResponse"/>
  </wsdl:message><wsdl:message name="HelloWorldTestAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="PublishResponseComplexTypesSoapIn">
    <wsdl:part name="parameters" element="tns:PublishResponseComplexTypes"/>
  </wsdl:message><wsdl:message name="PublishResponseComplexTypesSoapOut">
    <wsdl:part name="parameters" element="tns:PublishResponseComplexTypesResponse"/>
  </wsdl:message><wsdl:message name="PublishResponseComplexTypesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="PublishFaultListSoapIn">
    <wsdl:part name="parameters" element="tns:PublishFaultList"/>
  </wsdl:message><wsdl:message name="PublishFaultListSoapOut">
    <wsdl:part name="parameters" element="tns:PublishFaultListResponse"/>
  </wsdl:message><wsdl:message name="PublishFaultListAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="CreateNewBookingSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewBooking"/>
  </wsdl:message><wsdl:message name="CreateNewBookingSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewBookingResponse"/>
  </wsdl:message><wsdl:message name="CreateNewBookingAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="AddSharedGuestSoapIn">
    <wsdl:part name="parameters" element="tns:AddSharedGuest"/>
  </wsdl:message><wsdl:message name="AddSharedGuestSoapOut">
    <wsdl:part name="parameters" element="tns:AddSharedGuestResponse"/>
  </wsdl:message><wsdl:message name="AddSharedGuestAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="MakeDuplicateKeySoapIn">
    <wsdl:part name="parameters" element="tns:MakeDuplicateKey"/>
  </wsdl:message><wsdl:message name="MakeDuplicateKeySoapOut">
    <wsdl:part name="parameters" element="tns:MakeDuplicateKeyResponse"/>
  </wsdl:message><wsdl:message name="MakeDuplicateKeyAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="ChangeKeyAccessSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeKeyAccess"/>
  </wsdl:message><wsdl:message name="ChangeKeyAccessSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeKeyAccessResponse"/>
  </wsdl:message><wsdl:message name="ChangeKeyAccessAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="ExtendCheckOutSoapIn">
    <wsdl:part name="parameters" element="tns:ExtendCheckOut"/>
  </wsdl:message><wsdl:message name="ExtendCheckOutSoapOut">
    <wsdl:part name="parameters" element="tns:ExtendCheckOutResponse"/>
  </wsdl:message><wsdl:message name="ExtendCheckOutAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="CheckOutGuestSoapIn">
    <wsdl:part name="parameters" element="tns:CheckOutGuest"/>
  </wsdl:message><wsdl:message name="CheckOutGuestSoapOut">
    <wsdl:part name="parameters" element="tns:CheckOutGuestResponse"/>
  </wsdl:message><wsdl:message name="CheckOutGuestAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="MakeUnassignedBookingSoapIn">
    <wsdl:part name="parameters" element="tns:MakeUnassignedBooking"/>
  </wsdl:message><wsdl:message name="MakeUnassignedBookingSoapOut">
    <wsdl:part name="parameters" element="tns:MakeUnassignedBookingResponse"/>
  </wsdl:message><wsdl:message name="MakeUnassignedBookingAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="ChangeGuestAccessSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeGuestAccess"/>
  </wsdl:message><wsdl:message name="ChangeGuestAccessSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeGuestAccessResponse"/>
  </wsdl:message><wsdl:message name="ChangeGuestAccessAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="AddGuestAccessSoapIn">
    <wsdl:part name="parameters" element="tns:AddGuestAccess"/>
  </wsdl:message><wsdl:message name="AddGuestAccessSoapOut">
    <wsdl:part name="parameters" element="tns:AddGuestAccessResponse"/>
  </wsdl:message><wsdl:message name="AddGuestAccessAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="DenyAccessToGuestSoapIn">
    <wsdl:part name="parameters" element="tns:DenyAccessToGuest"/>
  </wsdl:message><wsdl:message name="DenyAccessToGuestSoapOut">
    <wsdl:part name="parameters" element="tns:DenyAccessToGuestResponse"/>
  </wsdl:message><wsdl:message name="DenyAccessToGuestAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="ReEstablishAccessToGuestSoapIn">
    <wsdl:part name="parameters" element="tns:ReEstablishAccessToGuest"/>
  </wsdl:message><wsdl:message name="ReEstablishAccessToGuestSoapOut">
    <wsdl:part name="parameters" element="tns:ReEstablishAccessToGuestResponse"/>
  </wsdl:message><wsdl:message name="ReEstablishAccessToGuestAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="CancelGuestsAccessToRoomSoapIn">
    <wsdl:part name="parameters" element="tns:CancelGuestsAccessToRoom"/>
  </wsdl:message><wsdl:message name="CancelGuestsAccessToRoomSoapOut">
    <wsdl:part name="parameters" element="tns:CancelGuestsAccessToRoomResponse"/>
  </wsdl:message><wsdl:message name="CancelGuestsAccessToRoomAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="CancelGuestsMobileAccessToRoomSoapIn">
    <wsdl:part name="parameters" element="tns:CancelGuestsMobileAccessToRoom"/>
  </wsdl:message><wsdl:message name="CancelGuestsMobileAccessToRoomSoapOut">
    <wsdl:part name="parameters" element="tns:CancelGuestsMobileAccessToRoomResponse"/>
  </wsdl:message><wsdl:message name="CancelGuestsMobileAccessToRoomAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="CreateOneShotKeySoapIn">
    <wsdl:part name="parameters" element="tns:CreateOneShotKey"/>
  </wsdl:message><wsdl:message name="CreateOneShotKeySoapOut">
    <wsdl:part name="parameters" element="tns:CreateOneShotKeyResponse"/>
  </wsdl:message><wsdl:message name="CreateOneShotKeyAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="GetDeviceSecKeysRightsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceSecKeysRights"/>
  </wsdl:message><wsdl:message name="GetDeviceSecKeysRightsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceSecKeysRightsResponse"/>
  </wsdl:message><wsdl:message name="GetDeviceSecKeysRightsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="UpdateKeyTransactionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateKeyTransactionStatus"/>
  </wsdl:message><wsdl:message name="UpdateKeyTransactionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateKeyTransactionStatusResponse"/>
  </wsdl:message><wsdl:message name="UpdateKeyTransactionStatusAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="GetMobileTransactionHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetMobileTransactionHistory"/>
  </wsdl:message><wsdl:message name="GetMobileTransactionHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetMobileTransactionHistoryResponse"/>
  </wsdl:message><wsdl:message name="GetMobileTransactionHistoryAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="SendKey2StaffMobileDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:SendKey2StaffMobileDevice"/>
  </wsdl:message><wsdl:message name="SendKey2StaffMobileDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:SendKey2StaffMobileDeviceResponse"/>
  </wsdl:message><wsdl:message name="SendKey2StaffMobileDeviceAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:message name="UnRegisterStaffSoapIn">
    <wsdl:part name="parameters" element="tns:UnRegisterStaff"/>
  </wsdl:message><wsdl:message name="UnRegisterStaffSoapOut">
    <wsdl:part name="parameters" element="tns:UnRegisterStaffResponse"/>
  </wsdl:message><wsdl:message name="UnRegisterStaffAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message><wsdl:portType name="MessengerPMSWSServiceSoap">
    <wsdl:operation name="HelloWorldTest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hello OOOOOO simple.</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldTestSoapIn"/>
      <wsdl:output message="tns:HelloWorldTestSoapOut"/>
    </wsdl:operation><wsdl:operation name="PublishResponseComplexTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method has been included to publish complex types associated with each method return. The header Action attribut will be set to http://www.w3.org/2005/08/addressing/fault to trigger fault processing.</wsdl:documentation>
      <wsdl:input message="tns:PublishResponseComplexTypesSoapIn"/>
      <wsdl:output message="tns:PublishResponseComplexTypesSoapOut"/>
    </wsdl:operation><wsdl:operation name="PublishFaultList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method has been included to publish complex types associated with each method return. The header Action attribut will be set to http://www.w3.org/2005/08/addressing/fault to trigger fault processing.</wsdl:documentation>
      <wsdl:input message="tns:PublishFaultListSoapIn"/>
      <wsdl:output message="tns:PublishFaultListSoapOut"/>
    </wsdl:operation><wsdl:operation name="CreateNewBooking">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This will create a new key which, will remove access to all previously encoded keys that have access to the rooms. For variable room list selection, must have smartcards or memory card technology.</wsdl:documentation>
      <wsdl:input message="tns:CreateNewBookingSoapIn"/>
      <wsdl:output message="tns:CreateNewBookingSoapOut"/>
    </wsdl:operation><wsdl:operation name="AddSharedGuest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will be added to the room(s) which were already booked, by Original Booker, without removing access to other users. Additional rooms will be shared only if the rooms have been booked by the same Original Booker or are free.</wsdl:documentation>
      <wsdl:input message="tns:AddSharedGuestSoapIn"/>
      <wsdl:output message="tns:AddSharedGuestSoapOut"/>
    </wsdl:operation><wsdl:operation name="MakeDuplicateKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Reservation must have a key which has not expired. Must have been previously created.</wsdl:documentation>
      <wsdl:input message="tns:MakeDuplicateKeySoapIn"/>
      <wsdl:output message="tns:MakeDuplicateKeySoapOut"/>
    </wsdl:operation><wsdl:operation name="ChangeKeyAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Existing keys access (new or duplicate) will not be modified, and will not carry any of the updated information. This key will not override older keys, i.e. cancel old keys.</wsdl:documentation>
      <wsdl:input message="tns:ChangeKeyAccessSoapIn"/>
      <wsdl:output message="tns:ChangeKeyAccessSoapOut"/>
    </wsdl:operation><wsdl:operation name="ExtendCheckOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will be done remotely to all rooms associated with this Resv ID.</wsdl:documentation>
      <wsdl:input message="tns:ExtendCheckOutSoapIn"/>
      <wsdl:output message="tns:ExtendCheckOutSoapOut"/>
    </wsdl:operation><wsdl:operation name="CheckOutGuest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will send a DenyAccessToUser with the Reservation # after the grace period has ended.</wsdl:documentation>
      <wsdl:input message="tns:CheckOutGuestSoapIn"/>
      <wsdl:output message="tns:CheckOutGuestSoapOut"/>
    </wsdl:operation><wsdl:operation name="MakeUnassignedBooking">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">You can not have 2 different unassigned guests merged into the same room unless one of the keys is re-encoded.</wsdl:documentation>
      <wsdl:input message="tns:MakeUnassignedBookingSoapIn"/>
      <wsdl:output message="tns:MakeUnassignedBookingSoapOut"/>
    </wsdl:operation><wsdl:operation name="ChangeGuestAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Existing keys access (new or duplicate) will not be modified, and will not carry any of the updated information. This key will not override older keys, i.e. cancel old keys.</wsdl:documentation>
      <wsdl:input message="tns:ChangeGuestAccessSoapIn"/>
      <wsdl:output message="tns:ChangeGuestAccessSoapOut"/>
    </wsdl:operation><wsdl:operation name="AddGuestAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will add access to the targetted rooms. In a shared with context the new rooms must be either empty or belong to the same booking, i.e. Shared with users all share a same special key.</wsdl:documentation>
      <wsdl:input message="tns:AddGuestAccessSoapIn"/>
      <wsdl:output message="tns:AddGuestAccessSoapOut"/>
    </wsdl:operation><wsdl:operation name="DenyAccessToGuest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Access will be blocked immediately to all rooms for all keys created with this Reservation ID.</wsdl:documentation>
      <wsdl:input message="tns:DenyAccessToGuestSoapIn"/>
      <wsdl:output message="tns:DenyAccessToGuestSoapOut"/>
    </wsdl:operation><wsdl:operation name="ReEstablishAccessToGuest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Access will be unblocked immediately to all rooms for all keys created with this Reservation ID UNLESS the rooms have been re-booked.</wsdl:documentation>
      <wsdl:input message="tns:ReEstablishAccessToGuestSoapIn"/>
      <wsdl:output message="tns:ReEstablishAccessToGuestSoapOut"/>
    </wsdl:operation><wsdl:operation name="CancelGuestsAccessToRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">All guests and reservations of a room will be canceled and denied access to room(s) provided.</wsdl:documentation>
      <wsdl:input message="tns:CancelGuestsAccessToRoomSoapIn"/>
      <wsdl:output message="tns:CancelGuestsAccessToRoomSoapOut"/>
    </wsdl:operation><wsdl:operation name="CancelGuestsMobileAccessToRoom">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">All guests and reservations of a room will be canceled and denied access to room(s) provided.</wsdl:documentation>
      <wsdl:input message="tns:CancelGuestsMobileAccessToRoomSoapIn"/>
      <wsdl:output message="tns:CancelGuestsMobileAccessToRoomSoapOut"/>
    </wsdl:operation><wsdl:operation name="CreateOneShotKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This will create a new key with limited use and will not remove access to all previously encoded keys that have access to the rooms.</wsdl:documentation>
      <wsdl:input message="tns:CreateOneShotKeySoapIn"/>
      <wsdl:output message="tns:CreateOneShotKeySoapOut"/>
    </wsdl:operation><wsdl:operation name="GetDeviceSecKeysRights">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this Web Method to generate Sector Key A.</wsdl:documentation>
      <wsdl:input message="tns:GetDeviceSecKeysRightsSoapIn"/>
      <wsdl:output message="tns:GetDeviceSecKeysRightsSoapOut"/>
    </wsdl:operation><wsdl:operation name="UpdateKeyTransactionStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This will update the PMS transaction status.</wsdl:documentation>
      <wsdl:input message="tns:UpdateKeyTransactionStatusSoapIn"/>
      <wsdl:output message="tns:UpdateKeyTransactionStatusSoapOut"/>
    </wsdl:operation><wsdl:operation name="GetMobileTransactionHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This will get all PMS transactions history according to some filters.</wsdl:documentation>
      <wsdl:input message="tns:GetMobileTransactionHistorySoapIn"/>
      <wsdl:output message="tns:GetMobileTransactionHistorySoapOut"/>
    </wsdl:operation><wsdl:operation name="SendKey2StaffMobileDevice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This will create the Staff PMS transaction.</wsdl:documentation>
      <wsdl:input message="tns:SendKey2StaffMobileDeviceSoapIn"/>
      <wsdl:output message="tns:SendKey2StaffMobileDeviceSoapOut"/>
    </wsdl:operation><wsdl:operation name="UnRegisterStaff">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This will remove the Staff PMS transaction.</wsdl:documentation>
      <wsdl:input message="tns:UnRegisterStaffSoapIn"/>
      <wsdl:output message="tns:UnRegisterStaffSoapOut"/>
    </wsdl:operation>
  </wsdl:portType><wsdl:binding name="MessengerPMSWSServiceSoap" type="tns:MessengerPMSWSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="HelloWorldTest">
      <soap:operation style="document" soapAction="http://tempuri.org/HelloWorldTest"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:HelloWorldTestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:HelloWorldTestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="PublishResponseComplexTypes">
      <soap:operation style="document" soapAction="http://tempuri.org/PublishResponseComplexTypes"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:PublishResponseComplexTypesAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:PublishResponseComplexTypesAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="PublishFaultList">
      <soap:operation style="document" soapAction="http://tempuri.org/PublishFaultList"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:PublishFaultListAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:PublishFaultListAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CreateNewBooking">
      <soap:operation style="document" soapAction="http://tempuri.org/CreateNewBooking"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:CreateNewBookingAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:CreateNewBookingAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="AddSharedGuest">
      <soap:operation style="document" soapAction="http://tempuri.org/AddSharedGuest"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:AddSharedGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:AddSharedGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="MakeDuplicateKey">
      <soap:operation style="document" soapAction="http://tempuri.org/MakeDuplicateKey"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:MakeDuplicateKeyAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:MakeDuplicateKeyAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="ChangeKeyAccess">
      <soap:operation style="document" soapAction="http://tempuri.org/ChangeKeyAccess"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ChangeKeyAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:ChangeKeyAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="ExtendCheckOut">
      <soap:operation style="document" soapAction="http://tempuri.org/ExtendCheckOut"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ExtendCheckOutAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:ExtendCheckOutAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CheckOutGuest">
      <soap:operation style="document" soapAction="http://tempuri.org/CheckOutGuest"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:CheckOutGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:CheckOutGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="MakeUnassignedBooking">
      <soap:operation style="document" soapAction="http://tempuri.org/MakeUnassignedBooking"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:MakeUnassignedBookingAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:MakeUnassignedBookingAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="ChangeGuestAccess">
      <soap:operation style="document" soapAction="http://tempuri.org/ChangeGuestAccess"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ChangeGuestAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:ChangeGuestAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="AddGuestAccess">
      <soap:operation style="document" soapAction="http://tempuri.org/AddGuestAccess"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:AddGuestAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:AddGuestAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="DenyAccessToGuest">
      <soap:operation style="document" soapAction="http://tempuri.org/DenyAccessToGuest"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:DenyAccessToGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:DenyAccessToGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="ReEstablishAccessToGuest">
      <soap:operation style="document" soapAction="http://tempuri.org/ReEstablishAccessToGuest"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:ReEstablishAccessToGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:ReEstablishAccessToGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CancelGuestsAccessToRoom">
      <soap:operation style="document" soapAction="http://tempuri.org/CancelGuestsAccessToRoom"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:CancelGuestsAccessToRoomAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:CancelGuestsAccessToRoomAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CancelGuestsMobileAccessToRoom">
      <soap:operation style="document" soapAction="http://tempuri.org/CancelGuestsMobileAccessToRoom"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:CancelGuestsMobileAccessToRoomAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:CancelGuestsMobileAccessToRoomAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CreateOneShotKey">
      <soap:operation style="document" soapAction="http://tempuri.org/CreateOneShotKey"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:CreateOneShotKeyAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:CreateOneShotKeyAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="GetDeviceSecKeysRights">
      <soap:operation style="document" soapAction="http://tempuri.org/GetDeviceSecKeysRights"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GetDeviceSecKeysRightsAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:GetDeviceSecKeysRightsAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="UpdateKeyTransactionStatus">
      <soap:operation style="document" soapAction="http://tempuri.org/UpdateKeyTransactionStatus"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:UpdateKeyTransactionStatusAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:UpdateKeyTransactionStatusAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="GetMobileTransactionHistory">
      <soap:operation style="document" soapAction="http://tempuri.org/GetMobileTransactionHistory"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:GetMobileTransactionHistoryAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:GetMobileTransactionHistoryAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="SendKey2StaffMobileDevice">
      <soap:operation style="document" soapAction="http://tempuri.org/SendKey2StaffMobileDevice"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SendKey2StaffMobileDeviceAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:SendKey2StaffMobileDeviceAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="UnRegisterStaff">
      <soap:operation style="document" soapAction="http://tempuri.org/UnRegisterStaff"/><wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:UnRegisterStaffAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:UnRegisterStaffAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding><wsdl:binding name="MessengerPMSWSServiceSoap12" type="tns:MessengerPMSWSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="HelloWorldTest">
      <soap12:operation style="document" soapAction="http://tempuri.org/HelloWorldTest"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:HelloWorldTestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:HelloWorldTestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="PublishResponseComplexTypes">
      <soap12:operation style="document" soapAction="http://tempuri.org/PublishResponseComplexTypes"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:PublishResponseComplexTypesAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:PublishResponseComplexTypesAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="PublishFaultList">
      <soap12:operation style="document" soapAction="http://tempuri.org/PublishFaultList"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:PublishFaultListAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:PublishFaultListAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CreateNewBooking">
      <soap12:operation style="document" soapAction="http://tempuri.org/CreateNewBooking"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CreateNewBookingAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CreateNewBookingAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="AddSharedGuest">
      <soap12:operation style="document" soapAction="http://tempuri.org/AddSharedGuest"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:AddSharedGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:AddSharedGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="MakeDuplicateKey">
      <soap12:operation style="document" soapAction="http://tempuri.org/MakeDuplicateKey"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:MakeDuplicateKeyAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:MakeDuplicateKeyAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="ChangeKeyAccess">
      <soap12:operation style="document" soapAction="http://tempuri.org/ChangeKeyAccess"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ChangeKeyAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ChangeKeyAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="ExtendCheckOut">
      <soap12:operation style="document" soapAction="http://tempuri.org/ExtendCheckOut"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ExtendCheckOutAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ExtendCheckOutAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CheckOutGuest">
      <soap12:operation style="document" soapAction="http://tempuri.org/CheckOutGuest"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CheckOutGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CheckOutGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="MakeUnassignedBooking">
      <soap12:operation style="document" soapAction="http://tempuri.org/MakeUnassignedBooking"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:MakeUnassignedBookingAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:MakeUnassignedBookingAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="ChangeGuestAccess">
      <soap12:operation style="document" soapAction="http://tempuri.org/ChangeGuestAccess"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ChangeGuestAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ChangeGuestAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="AddGuestAccess">
      <soap12:operation style="document" soapAction="http://tempuri.org/AddGuestAccess"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:AddGuestAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:AddGuestAccessAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="DenyAccessToGuest">
      <soap12:operation style="document" soapAction="http://tempuri.org/DenyAccessToGuest"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:DenyAccessToGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:DenyAccessToGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="ReEstablishAccessToGuest">
      <soap12:operation style="document" soapAction="http://tempuri.org/ReEstablishAccessToGuest"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ReEstablishAccessToGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:ReEstablishAccessToGuestAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CancelGuestsAccessToRoom">
      <soap12:operation style="document" soapAction="http://tempuri.org/CancelGuestsAccessToRoom"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CancelGuestsAccessToRoomAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CancelGuestsAccessToRoomAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CancelGuestsMobileAccessToRoom">
      <soap12:operation style="document" soapAction="http://tempuri.org/CancelGuestsMobileAccessToRoom"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CancelGuestsMobileAccessToRoomAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CancelGuestsMobileAccessToRoomAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="CreateOneShotKey">
      <soap12:operation style="document" soapAction="http://tempuri.org/CreateOneShotKey"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CreateOneShotKeyAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:CreateOneShotKeyAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="GetDeviceSecKeysRights">
      <soap12:operation style="document" soapAction="http://tempuri.org/GetDeviceSecKeysRights"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:GetDeviceSecKeysRightsAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:GetDeviceSecKeysRightsAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="UpdateKeyTransactionStatus">
      <soap12:operation style="document" soapAction="http://tempuri.org/UpdateKeyTransactionStatus"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:UpdateKeyTransactionStatusAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:UpdateKeyTransactionStatusAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="GetMobileTransactionHistory">
      <soap12:operation style="document" soapAction="http://tempuri.org/GetMobileTransactionHistory"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:GetMobileTransactionHistoryAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:GetMobileTransactionHistoryAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="SendKey2StaffMobileDevice">
      <soap12:operation style="document" soapAction="http://tempuri.org/SendKey2StaffMobileDevice"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:SendKey2StaffMobileDeviceAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:SendKey2StaffMobileDeviceAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation><wsdl:operation name="UnRegisterStaff">
      <soap12:operation style="document" soapAction="http://tempuri.org/UnRegisterStaff"/><wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:UnRegisterStaffAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:input><wsdl:output>
        <soap12:body use="literal"/>
        <soap12:header message="tns:UnRegisterStaffAuthHeader" use="literal" part="AuthHeader"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding><wsdl:service name="MessengerPMSWSService">
    <wsdl:port name="MessengerPMSWSServiceSoap" binding="tns:MessengerPMSWSServiceSoap">
      <soap:address location="http://localhost/ATLASKLIWS/MessengerPMSService.asmx"/>
    </wsdl:port><wsdl:port name="MessengerPMSWSServiceSoap12" binding="tns:MessengerPMSWSServiceSoap12">
      <soap12:address location="ttp://localhost/ATLASKLIWS/MessengerPMSService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>